.CF89AA64
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.Xcode/t init
.Xvimrc
.adobe/
.android/
.argouml/
.bash_history
#.bashrc
.bouml
.boumlrc
.config/
.cups/
.cvspass
.dropbox/
.dvdcss/
.eaglerc
#.emacs.d
.filezilla/
.fontconfig/
.fonts/
.gEDA/
.gdb_history
.gem
.get_iplayer
.gitconfig
.gitignore
.gnome2/
.gnupg/
.gpg-agent-info
.idlerc/
.imagineer_log.txt
.inkscape-etc/
.lein
.lesshst
.m2/
.macports/
.mailcap
.mime.types
.parallels/
#.profile
.profile-TES-EDIT20100820
.profile.macports-saved_2010-04-24_at_21:54:01
.profile.macports-saved_2010-04-24_at_22:07:46
.recently-used.xbel
.rnd
.sh_history
.spumux/
.sqlite_history
.ssh/
.subversion/
.swp
#.vim
.vimX/
.viminfo
#.vimrc
.vimtags
.wapi/
.wireshark/
.wireshark-etc/
.witchhunt.swp
110528 - CHUG - ST - Allotment correspondence_v03.doc
Adlm
BOOKS/
Braid [Mac] - DroidIP/
CHUG.advice26052011.doc
DATA/
Desktop/
Documents/
Downloads/
Dropbox/
IMAGE_LAPTOP/
IPHONE/
Library/
Movies/
Music/
Pictures/
Public/
Quantock BCrds.indd
Send Registration
Sites/
VirtualBox VMs/
_configs
_configs.tar.gz
bashrc
bin/
blockingDiagrams.svg
certtmp
connect
dot_files
dotvimbroken
fingerprint.txt
hardwarelist.txt
hateful
hello_world.py
jimmy_jazz
jp_tune.txt
key.txt
new.cpp
passenger.txt
profile
q.log
score-staff-priv20120424.asc
score-staff-pub20120424.asc
score_key.txt
test
test.c
thebeginnings.txt
thefuckingstoreys.txt
vim/
vimcfg/
vimrc
wtf.txt
